.site-header{
    background-color: rgb(33, 61, 52);
    color: azure;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.site-header-content{
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    align-self: center;
    box-shadow: rgb(1, 58, 39) 2px 5px 5px;
}
body{
    margin: 0px;
}